body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 28px; /* Размер основного шрифта в <p></p>  */
    background-color: 	#2C4081; /* Цвет фона веб-страницы */
    color: #ffffff; /* Цвет основного текста */ 
    margin: 0, auto;
    padding: 0 20px 20px 20px;
}
h1 {
    color: 	#ffffff; /* Цвет заголовка */
    font-size: 45px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    text-align: center;
    
}
ul
{
  list-style-type: none;
}
li
{
  font-size: 23px;
  line-height: 2;
  letter-spacing: 1px;
  padding: 0 70px 20px 70px;
  text-align: center;
}
p
{
  font-size: 23px;
  line-height: 2;
  letter-spacing: 1px;
  padding: 0 70px 20px 70px;
}
img {
  display: block;
  margin: 0 auto;
}
@keyframes color-change {
  0%   { color: rgb(255, 255, 255); }
  50%  { color: rgb(0, 12, 119); }
  100% { color: rgb(255, 255, 255); }
}
h1:hover {
    animation: color-change 3s infinite;
}
h2 {
    font-size: 35px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    animation: color-change1 3s infinite;
    text-align: center;
}
@keyframes color-change1 {
  0%   { color: #ffffff; }
  50%  { color: #04859D; }
  100%   { color: #ffffff; }
}
h3 {
    font-size: 35px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
    animation: color-change2 3s infinite;
    text-align:center
}
@keyframes color-change2 {
  0%   { color: #ffffff; }
  50%  { color: #04859D; }
  100%   { color: #ffffff; }
}